* {
    box-sizing: border-box;
  }

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: rgb(216, 195, 216);
}

.user {
    background-color: darkgrey;
    padding:5px;
    margin-top: 20px;
    font-size:15px;
    font-style: normal;
    color: rgb(218, 255, 6);
}

input.register-warning{
    margin-left: 20px;
    width:100px
    
}

.alert{
    padding:5px;
    background-color:rgb(205,92,92);
    color: ghostwhite;
    margin-bottom: 10px;
    margin-top:15px;
}

.warning{
    padding:5px;
    background-color: orange;
    color: ghostwhite;
    margin-bottom: 10px;
    margin-top: 15px;
}
